<div class="container mt-3">

  <h1 class="text-center"><%= @list.name %></h1>

  <div class="container text-center">
    <%= link_to "Add a new movie", new_list_bookmark_path(@list), class: "btn btn-primary mt-3 mb-5 rounded-pill border border-white py-3 px-5" %>
  </div>

  <div class="main-container">

    <% @list.bookmarks.each do |bookmark| %>
        <div class="card-product">
          <%= image_tag bookmark.movie.poster_url %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="card-product-infos">
              <h2><%= bookmark.movie.title %> • <%= bookmark.movie.rating %> ⭐️</h2>
              <p><%= bookmark.movie.overview %></p>
            </div>
            <br>
            <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center p-3">
    <%= link_to "Back to lists", lists_path %>
  </div>

</div>
